/* play-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Play';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

/* play-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Play';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

/* roboto-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

/* roboto-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

:root {
	--color-brand: #2B7FFF;
	--color-brand-secondary: #011C44;
	--color-secondary-dark: #4A4A4A;
	--color-secondary-light: #FFF;
	--color-little-dark: #000;
}

/* Base */

body {
	color: var(--color-brand-secondary);
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: normal
}

ul {
	list-style-type: none;
}

/* Header */

.main-info {
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(5px);
}

/* Main section */

.main-title {
	color: var(--color-brand);
	font-family: 'Play', sans-serif;
	font-size: 140px;
	font-style: normal;
	font-weight: 700;
	line-height: 114px;
	text-transform: capitalize;
}

.main-text {
	color: var(--color-secondary-dark);
}

/* Button */

.button {
	color: var(--color-brand-secondary);
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	border-radius: 32px;
	border: 2px solid var(--color-brand);
	cursor: pointer;
}

.button:hover {
	color: var(--color-secondary-light);
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	border-radius: 32px;
	background: #2B7FFF;
}

/* Link */

.link {
	color: var(--color-brand-secondary);
	text-decoration: none;
}

.link:hover {
	color: var(--color-brand);
	font-weight: 700;
}

/* Reincarnate section */
/* Colors for all sections section-title */

.section-title {
	color: var(--color-brand-secondary);
	font-family: 'Play', sans-serif;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: center;
}

.section-title .accent {
	color: var(--color-brand);
}

.section-title-first {
	color: var(--color-brand-secondary);
	font-family: 'Play', sans-serif;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.section-title-first .accent-beauty {
	color: var(--color-brand);
	text-transform: capitalize;
}

.reincarnate-text {
	font-size: 22px;
	line-height: 38px;
}

.reincarnate-text .brand {
	font-weight: 600;
	text-transform: capitalize;
}

/* Advantages section */

.advantages-text {
	color: var(--color-little-dark);
	line-height: 24px;
}

/* Procedures-section */

.procedures-text {
	color: var(--color-secondary-light);
	font-size: 22px;
	line-height: 26px;
}

/* Footer */

.footer-link {
	color: var(--color-secondary-light);
	font-size: 16px;
	text-decoration: none;
}

.footer-link:hover {
	color: var(--color-brand);
	font-weight: 700;
}

.address-link {
	color: var(--color-secondary-light);
	font-size: 16px;
	font-style: normal;
	text-decoration: none;
}

.privacy-policy {
	color: var(--color-secondary-light);
	font-size: 16px;
	font-style: normal;
	text-decoration: none;
}

.data-protected {
	color: #747272;
	font-style: normal;
	font-size: 13px;
}